.grid_parent {
  display: grid;
  gap: 1rem;
  /* pick one: */
  grid-template-columns: repeat(4, 1fr);
  /* or */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* or */
  grid-template-columns: 200px 200px 200px 200px;
}

.grid_child_column_span_2 {
  grid-column: span 2;
}

.grid_child_modified_position {
  grid-column-start: 4;
  /* grid row start at row number 1 and span to two rows */
  grid-row: 1 / span 2;
}
